<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"> 
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
        </div>
        <br>
        <br>
        <form action= "/search.html" method="POST">
            <input type="text" name="title" placeholder="Enter Game Title:">
            <input type="submit" value="Search">
        </form>
        <div class="result">
            {% if games %}
            <h2>Game Details</h2>
            <table>
                <tr>
                    <th>Game</th>
                    <th>Publisher</th>
                    <th>Release Year</th>
                    <th>Console</th>
                </tr>
                {% for game in games %}
                </tr>
                <!-- <hr style="outline-style: dashed; border-width:0; background-color: crimson;
                color: crimson;"> -->
                <td>{{ game['TITLE'] }}</td>
                <td>{{ game['PUB_NAME'] }}</td>
                <td>{{ game['RELEASE_DATE'] }}</td>
                <td>{{ game['CON_NAME'] }}</td>
                </tr>
                {% endfor %}

            </table>
            {% endif %}
    </div>
    </body>
</html>
